<html>
    <head></head>
    <body>
        {{#each rows}}
        <p>
            <div>{{this.title}}</div>
            <div>{{this.description}}</div>
        </p>
        {{/each}}
    </body>
</html>